@{
    ViewBag.Title = "EMagazine";
    Layout = null;
}

@RenderPage("~/Views/Shared/_Head2.cshtml")
@RenderPage("~/Views/Shared/_Navbar2.cshtml")
<br /><br />
  <div class="col-md-10" style="margin-bottom:17%">
     <div class="row">
  				
  				<div class="col-md-10">
  					<div class="content-box-large">
		  				<div class="panel-heading">
							<div class="panel-title"><h3>Add/Remove Magazine from List</h3></div>
							
						</div>
		  				<div class="panel-body">
		  					<table class="table">
				              <thead>
				                <tr>
				                  <th>#</th>
				                  <th>Magazine Name</th>
				                  <th>Date</th>      
				                </tr>
				              </thead>
				              <tbody>
				                  @foreach(var a in Model)
                                  {
				                <tr class="danger">
				                  <td>@a.Id</td>
                                  <td>@a.Magazine1</td>
				                  <td>@a.Date1</td>
				            
				                  <td><a style="cursor:pointer" id="@a.Id" class="fup7">update</a></td>
				                    <td><a style="cursor:pointer" href="~/Admin/DeleteMagazine?idd=@a.Id">delete</a></td>

				                </tr>
                                  }
				                 <tr class="success" style="text-align:center">
				                  <td colspan="7"><a id="fn" style="cursor:pointer;font-size:20px" class="glyphicon glyphicon-pencil"><b> Insert</b></a></td>
				                </tr>
				              </tbody>
				            </table>
		  				</div>
		  	               
  		</div>
  				</div>
  			</div>
      	  <div class="col-md-9" id="FNewsUpdate" style="text-align:center;margin-left:0%">
	  					<div class="content-box-large">
			  				<div class="panel-heading">
					            <div class="panel-title"><h3>Update Gallary Pictures</h3></div>
					          
					        </div>
			  				<div class="panel-body">
			  					<form class="form-horizontal" role="form" action="~/Admin/SaveUpdateMagazine" method="post" enctype="multipart/form-data">
								  <div class="form-group">
								    <label for="inputEmail3" class="col-sm-4 control-label">Update Magazine Date </label>
								    <div class="col-sm-8">
								      <input type="date" value="10-10-2000" class="form-control" name="Date1" id="mainheading" >
								    </div>
								  </div>
								
								  <div class="form-group">
											<label class="col-md-4 control-label">Update Magazine</label>
											<div class="col-md-8">
												<input type="file" class="btn btn-default" name="Magazine1" id="exampleInputF">
											</div>
								  </div>
									
								  <div class="form-group">
								    <label class="col-sm-2 control-label">Instructions</label>
								    <div class="col-sm-10">
								      <span class="form-control">Press Save to save data/again press insert button</span>
								    </div>
								  </div>
								  <input type="text" name="Id1"  id="id1" hidden="hidden"/><br />
                                     
								  <div class="form-group">
								    <div class="col-sm-offset-2 col-sm-10">
								      <button type="submit" class="btn btn-primary">Save</button>
								    </div>
								  </div>
								</form>
			  				</div>
			  			</div>
	  				</div>

       <div class="col-md-9" id="FNews" style="text-align:center;margin-left:0%">
	  					<div class="content-box-large">
			  				<div class="panel-heading">
					            <div class="panel-title"><h3>Insert Magazine</h3></div>
					          
					        </div>
			  				<div class="panel-body">
			  					<form class="form-horizontal" role="form" action="~/Admin/SaveMagazine" method="post" enctype="multipart/form-data">
								  <div class="form-group">
								    <label for="inputEmail3" class="col-sm-4 control-label">Enter Date for New Magazine</label>
								    <div class="col-sm-8">
								      <input type="date" class="form-control" name="Date1" id="mainheading2" >
								    </div>
								  </div>
								
								  <div class="form-group">
											<label class="col-md-4 control-label">Choose new Magazine</label>
											<div class="col-md-8">
												<input type="file" class="btn btn-default" name="Magazine" id="exampleInputFile1">
											</div>
								  </div>
									
								  <div class="form-group">
								    <label class="col-sm-2 control-label">Instructions</label>
								    <div class="col-sm-10">
								      <span class="form-control">Press Save to save data/again press insert button</span>
								    </div>
								  </div>
								  
								  <div class="form-group">
								    <div class="col-sm-offset-2 col-sm-10">
								      <button type="submit" class="btn btn-primary">Save</button>
								    </div>
								  </div>
								</form>
			  				</div>
			  			</div>
	  				</div>
      <script src="~/Scripts/jquery-1.7.1.min.js"></script>
      <script>
          $(document).ready(function () {
              $("#FNews").hide();
              $("#FNewsUpdate").hide();
              $("#fn").click(function () {
                  $("#FNews").toggle(500);
              });
              $(".fup7").click(function () {
                  var k = this.id;
                
                  $.getJSON("/Admin/GetMagazine", { key: k }, function (data) {
                    
                      var obj1 = JSON.stringify(data);
                      var obj2 = JSON.parse(obj1);
                     
                      $("#id1").val(obj2.Id);
                     
                  });
                  $("#FNewsUpdate").toggle(500);
              });
          });
      </script>
  </div>

@RenderPage("~/Views/Shared/Footer2.cshtml")
